html{
    position: relative;
}
body{
    margin-top: 30px;
    margin-bottom: 100px;
}
.navbar{
    /* position: relative; */
    z-index: 1;
    background-color: #095bc7;
}

.nav-brand{
    font-size: 32px;
}

/* jumbotron */
.jumbotron{
    background-image: url(../img/bg-01.jpg);
    background-size: cover;
    width: 100%;
    height: 540px;
    position: relative;
}
.jumbotron .container{
    z-index: 1;
    position: relative;
}
.jumbotron::after{
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    bottom: 0px;
}

.jumbotron .display-4{
    color: white;
    text-align: center;
    margin-top: 215px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgb(0, 0,0 , 0.7);
    font-size: 31px;
}

.jumbotron .display-4 span{
    font-weight: 500;
    color: salmon;
}

hr{
    width: 250px;
    border-top: 4px solid salmon;
}

.intro{
    margin-top: 130px;
}
section{
    min-height: 600px;
}

.work{
    color: white;
    background-color: black;
}

.contact{
    min-height: 700px;
}

.list-contact{
    padding-left: 50px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #333333;
    padding-top: 30px;
}

footer p{
    color: white;
}

/* desktop version */
@media (min-width: 992px) { 
    .navbar-brand, .nav-link{
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0,0,0.7);
    }
    .nav-link{
        text-transform: uppercase;
        margin-right: 30 px;
    }
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid salmon;
        width: 60%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    .jumbotron{
        width: 100%;
        margin-top: -75px;
        height: 640px;
    }

    .jumbotron .display-4{
        font-size: 62px;
    }
}